/* HEADER */
header {
    background-color: #2E7D32; /* verde intenso */
    color: #FFFFFF;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

header h1 {
    margin: 0;
    font-weight: 600;
}

header nav a {
    color: #FFFFFF;
    margin: 0 0.5rem;
    text-decoration: underline;
    display: inline-block; /* necesario para el transform */
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav a:hover {
    color: #F9ED69;         /* amarillo vivo */
    text-decoration: none;
    transform: scale(1.1);  /* agrandado al pasar el mouse */
}

.nav-link.active {
    color: #F9ED69 !important;  /* amarillo */
    font-weight: bold;
}

.nav-link:hover {
    color: #F9ED69;
    transform: scale(1.1);
    text-decoration: none;
}

header a img {
    max-height: 40px; /* móvil pequeño */
    width: auto;
}

@media (min-width: 768px) { /* tablet */
    header a img {
        max-height: 50px;
    }
}

@media (min-width: 1200px) { /* escritorio */
    header a img {
        max-height: 70px;
    }
}
